/* Barre de navigation */
.navbar-brand img {
  width: 50px;
  height: 50px; }

.navbar-custom {
  background-color: #65C1C7; }

/* change the background color of menu */
.navbar-custom .navbar-nav {
  background-color: rgba(225, 239, 255, 0.58);
  border-radius: 7px; }

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: black; }

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.lien-site-footer:hover {
  color: #FB6778; }

.navbar-custom .nav-item.active .nav-link {
  text-decoration: underline; }

.block-film, .block-actualite {
  border: solid black 1px; }

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee; }

[class*="col"] {
  margin-bottom: 20px; }

img {
  width: 100%; }

h1, h3 {
  background-color: #FB6778;
  color: white !important;
  font-style: italic;
  text-align: center !important;
  display: inline-block;
  word-break: normal;
  border-radius: 21px;
  padding: 13px;
  border-left: 10px solid rgba(244, 244, 244, 0.5);
  border-top: 8px solid rgba(244, 244, 244, 0.5);
  /*border-bottom: 8px solid rgba(244,244,244,0.5);
  border-right: 10px solid rgba(244,244,244,0.5);*/ }

.bg-cyan-white {
  background-color: #65C1C7;
  color: white !important; }

.btn-see-more {
  background-color: #65C1C7; }

.btn-see-more:hover, .btn-subscribe:hover {
  font-weight: bold; }

.btn-subscribe {
  background-color: #C781AC; }

picture {
  width: 100%; }

.bg-cyan-transparent {
  background-color: #cae9ef8a; }

.color-red-palette {
  color: #FB6778; }

footer {
  background-color: rgba(100, 193, 199, 0.6); }

/* Insertion de la police Krungthep pour le titrage */
@font-face {
  font-family: "titrage";
  src: url("/src/fonts/Krungthep.ttf"), url("/src/fonts/Krungthep.eot"), url("/src/fonts/Krungthep.woff"), url("/src/fonts/Krungthep.svg");
  /* pour iPhone et iPad */ }
/* Police du contenu */
body {
  font-family: 'Questrial', arial; }

/* Police des titres */
.titre, h1, h2, h3, h4, h5, h6 {
  font-family: "titrage"; }

#logo-asso {
  width: 100%;
  max-width: 200px;
  display: block; }

#menu-pagination {
  flex: 0 0 100%;
  justify-content: center; }

iframe {
  width: 100%; }

#content .col-lg-4 {
  padding-right: 0 !important; }

/* Animation au clic sur un champ formulaire */
.form-group input, .form-group select {
  border: 2px solid;
  border-radius: 100rem;
  outline: none;
  width: 100%; }
  .form-group input:focus, .form-group select:focus {
    border: 2px solid #C781AC; }

.form-group textarea {
  border: 2px solid;
  outline: none;
  width: 100%; }
  .form-group textarea:focus {
    border: 2px solid #C781AC; }

#banniere {
  background-image: url("/src/img/festival.jpg");
  background-position: center;
  height: 410px;
  background-size: cover;
  line-height: 410px; }

#block-presentation-texte {
  border-left: 15px solid rgba(244, 244, 244, 0.5);
  border-top: 12px solid rgba(244, 244, 244, 0.5);
  border-radius: 19px; }

#titre-marque {
  vertical-align: text-top; }

@media screen and (max-width: 350px) {
  h1 {
    font-size: 31px; } }
@media screen and (max-width: 280px) {
  h1 {
    font-size: 27px; } }
@media screen and (max-width: 990px) {
  .navbar-nav {
    width: 111px;
    text-align: center;
    border: none; } }
@media screen and (max-width: 575px) {
  .liste-films .row:nth-child(even) .row {
    flex-direction: column-reverse; } }

/*# sourceMappingURL=style.css.map */
